Pandas Series: It is a one-dimensional array holding data of any type.

In [21]:
import pandas as pd
# Create a simple Pandas Series from a list
a = [1,6,8,9]
ser = pd.Series(a, index = ['a','b','c','d'])
print(ser)

a    1
b    6
c    8
d    9
dtype: int64

In [22]:
# Create a simple Pandas Series from a dictionary
calories = {"day1": 420, "day2": 380, "day3": 390}
series = pd.Series(calories)
print(series)

day1    420
day2    380
day3    390
dtype: int64

In [23]:
# Create a Series using only data from "day1" and "day2"
myvar = pd.Series(calories, index = ["day1", "day2"])
print(myvar)

day1    420
day2    380
dtype: int64

Pandas DataFrames: is a 2 dimensional data structure, like a 2D array, or a table with rows and columns.

In [24]:
data= {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
df =  pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [25]:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

Read CSV Files

In [26]:
df = pd.read_csv('../data/raw/coffee.csv')
print(df.to_string()) # to_string() is used to print the entire DataFrame.

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [27]:
# Check your system's maximum rows returned
print(pd.options.display.max_rows)

60

In [28]:
# Number of unique values in each column
df.nunique()

Day            7
Coffee Type    2
Units Sold     7
dtype: int64

In [29]:
# Access unique values in a column
df['Day'].unique()

array(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday',
       'Sunday'], dtype=object)

In [30]:
# Access columns
df.columns

Index(['Day', 'Coffee Type', 'Units Sold'], dtype='object')

In [31]:
# Access index
df.index # RangeIndex(start=0, stop=14, step=1)
df.index.tolist() #[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [32]:
df.shape

(14, 3)

In [33]:
df.size

42

In [34]:
# Statistical summary
df.describe()

       Units Sold
count   14.000000
mean    32.857143
std      9.346798
min     15.000000
25%     26.250000
50%     35.000000
75%     38.750000
max     45.000000

In [35]:
# General info about the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Day          14 non-null     object
 1   Coffee Type  14 non-null     object
 2   Units Sold   14 non-null     int64
dtypes: int64(1), object(2)
memory usage: 468.0+ bytes